<div id="chat-window-basic">
  <div id="userList">
       <div class="loaderWheel">
           <div class="loaderDiv"><h3>loading chatroom...</h3></div>
           <div class="loaderDiv"><div class="wheel"></div></div>
       </div>
   </div>
   <div id="chatTabs">
    <% if (typeof chatRooms == 'object' && chatRooms) { %>
      <% for (let i = 0; i < chatRooms.length; i++) { %>
        <%if(chatRooms[i].roomName !== 'ADMIN'){%>
        <div onclick="changeRooms()" id="tab_section_<%= chatRooms[i]._id %>" class="tab_section">
          <%= chatRooms[i].roomName %>
        </div>
      <% } %>
      <% } %>
    <% } %>
    
    <% if (user && user.isAdmin) { %>
      <!-- Add the ADMIN chat tab for admins -->
      <div onclick="changeRooms('ADMIN')" id="tab_section_66f4a68103b41328183b02a0" class="tab_section">
        ADMIN
      </div>
    <% } %>
    
    <!-- this will ultimately pull up a list of rooms you have permission to join -->
  </div>
  
  
  <% if(typeof user === 'object' && user) { %>
    <div id="chatContainer">
      <script>var firstName = "<%= user.firstName %>"</script>
      <script>var chatStyle = "<%=user.chatStyle%>"</script>
     <script>var avatarStyle = "<%=user.avatarStyle%>"</script>
     <script id="updatedRoomId">var roomId = "<%=chatRooms[0]._id%>"</script>
      <div id="chat">
          <div id="messages"></div>
          </div>
          </div>
          <div class="inputBar">
              <div class="emojiSlider"></div>
             
              <input class="chatInput"id="chatInput" autocomplete="off" /> <span hidden class="addImage">🖼️</span><button id="submitChat">Send</button>
              </div>
  <% } else { %>
      <p>Please log in to join the chat.</p>
  <% } %>
</div>



