<div id="admin">

    <button class="collapsible">Users<span class="carrot">&#9654;</span></button>
    <div class="content"data-url="/users/getSearchForm"></div>
    
    <button class="collapsible">VideoProduction<span class="carrot">&#9654;</span></button>
    <div class="content" ><%-include('./videoLead/videoProduction')%></div>

    <button class="collapsible">Help and Tickets<span class="carrot">&#9654;</span></button>
    <div class="content"><%-include('./helps/index')%></div>
<!--dataurl for each subscriptiton in  div.adminWindow-->

    <button class="collapsible">Subscriptions<span class="carrot">&#9654;</span></button>
    <div class="content"><%-include('./subscriptions/index')%></div>

    <button class="collapsible">Clubs Admin<span class="carrot">&#9654;</span></button>
    <div class="content" ><%-include('./clubs/index')%></div>
    <!--CALENDAR ADMIN ON NLY EJS INDEX NO DATA_URL YET-->
  
    <button class="collapsible">Travel Admin<span class="carrot">&#9654;</span></button>
    <div class="content" ><%-include('./travels/index')%></div>

    <button class="collapsible">Blogs Admin<span class="carrot">&#9654;</span></button>
    <div class="content" ><%-include('./blogs/index')%></div>

  
    <button class="collapsible">WebApp Settings<span class="carrot">&#9654;</span></button>
    <div class="content" ><%-include('./webapp/index',{webappSettings:webappSettings})%></div>

    <button class="collapsible">Notifications<span class="carrot">&#9654;</span></button>
    <div class="content" ><%-include('./notifications/index')%></div>
    
    <!--OBSERVER ON CLICK FOR LIGHTER LOAD append data-url for server rendering-->
</div>

