<div id="admin">
    <button class="collapsible">Chat<span class="carrot">&#9654;</span></button>
    <div class="content" ><%-include ("./chat/index")%></div>

    <button class="collapsible">Users<span class="carrot">&#9654;</span></button>
    <div class="content"><%-include ('./users/index')%></div>

    <button class="collapsible">Games<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/games/load">Content for Games</div>

    <button class="collapsible">videoLead<span class="carrot">&#9654;</span></button>
    <div class="content"><%-include("./videoLead/videoLead")%>>
       </div>

    <button class="collapsible">VideoProduction<span class="carrot">&#9654;</span></button>
    <div class="content" ><%-include('./videoLead/videoProduction')%></div>

    <button class="collapsible">BingoLead<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/bingoLead/load">Content for BingoLead</div>

    <button class="collapsible">Help and Tickets<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/tickets/load">Content for Tickets</div>
<!--dataurl for each subscriptiton in  div.adminWindow-->


    <button class="collapsible">Subscriptions<span class="carrot">&#9654;</span></button>
    <div class="content"><%-include('./subscriptions/index')%></div>

    <button class="collapsible">Clubs Admin<span class="carrot">&#9654;</span></button>
    <div class="content" ><%-include('./clubs/index')%></div>

    <button class="collapsible">Blogs Admin<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/blogs/load">Content for Blogs</div>

    <button class="collapsible">WebApp Settings<span class="carrot">&#9654;</span></button>
    <div class="content" ><%-include('./webapp/index',{webappSettings:webappSettings})%></div>

    <button class="collapsible">Notifications<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/notifications/load"><%-include('./notifications/index')%></div>

    <button class="collapsible">Permissions<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/permissions/load"><%-include('./permissions/index')%></div>

    
    <!--OBSERVER ON CLICK FOR LIGHTER LOAD append data-url for server rendering-->
    <button class="collapsible">TRYCATCH<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/admin/doSomething" ></div>
</div>

<style>
  
</style>

