
<div class="readerpopupDiv">
  <%if (typeof record =='object'&& record){%>
      <div  class="readerpopupSection">
         
        
          <div style="background-image: url('<%=record.horizBkgd%>');" class="readerHeader">     
        
         <h1><%=record.title%></h1>
         <%if(!record.title){%>
           <h1><%=record.name%></h1>
          <%}%>              
         </div>

         <div>
           <img class="readerMediumIcon" src="<%=record.mediumIcon%>" alt="">
        <h2><%=record.subTitle%></h2>
        <p><%=record.description%></p>
        <h2><%=record.location%></h2>
        <h2><%=record.country%></h2>
        <p><%=record.content%></p>
       
        <div class="readerImagesArray">
          <%if(record.imagesArray){%>
            <%record.imagesArray.forEach((rec)=>{%>
              <img src="<%=rec%>" alt="">
            <%})%>
            <%}%>
             </div>
      <%if(record.links){%>
      <%record.links.forEach((link)=>{%>
        <a href="<%=link%>"><%=link%></a>
        <%})%>
        <%}%>
      <%if(record.travelTips){%>
        <h2>Travel Tips for:    
           <%=record.title%>
          <%if(!record.title){%>
            <h1><%=record.name%>
           <%}%>  
           </h2>
        <ul>
      <%record.travelTips.forEach((travelTip)=>{%>
        <li><%=travelTip%></li>
        <%})%>
      </ul>
        <%}%>
      </div>
    </div>
  <%}%>
  <button onclick="readerClose()" class="readerCloseButton">close this reader</button>




</div>

