<!--THIS IS THE STANDARD SWIPE SIDEWAYS VIEW IN THE MAIN SECTIONS-->
  <div  class="sectionWindow">
      <% data.forEach((data,index) => { %>
        <div style="background-image: url('<%=data.backgroundImg%>');" class="sectionView">
          <div class="sectionContainer">          
            <span class="sectionIndexNo"><%=index + 1%></span>
            <br>
            <span class="sectionName"><%= data.name %></span>
            <br>
            <span class="sectionSubtitle"><%=data.authSubtitle%></span>
            <br>
            <span class="callToAction"><%=data.callToAction%></span>
          </div>
          <div class="sectionGraphic"></div>
        </div>
        <% }) %>
 
  </div>

