<!--// Reference: /views/layouts/games/cardTable.js-->
<% if (typeof gameSession === 'object' && gameSession) { %>
    <div class="cardTableGameDiv" style="background-image: url('<%= gameSettingsData.backgroundImg %>');" id="cardTable_<%= gameSession._id %>">
      <div style="font-size:.5rem;color: yellow;" class="pauseTimer">your pause time remaining: 2:00</div>

      <!-- Game Title and Waiting Message -->
      <h2>WELCOME to Dominoes!! <%= gameSession._id%></h2>
      <h6><%=gameSession.currentState%></h6>
      <h6><%=gameSession.currentStatus%></h6>
      <h3 style="color:yellow">Waiting for others to join...</h3>
      
      <!-- Player Seats arranged around the top -->
      <div class="playerSeatsTop">
        <% 
          // Iterate over the max number of players
          for (let index = 0; index < gameSettingsData.maxPlayers; index++) {
            const player = gameSession.players[index];
        %>
          <div class="playerSeat">

            <% if (player && player.id) { %>
                <div><h3>Seat <%= index + 1 %>: <%= player.displayName %></h3></div>
                <div><h3>Last Move: <%= player.lastMove %></h3></div>    
                <%if(player.id == user.id){%>  
                <h6 style="color:red" class="ping_socket<%=player.id%>"></h6>
 <%}%>
            <% } else { %>
              Seat <%= index + 1 %>:<div class="loaderWheel"><div class="wheel"></div></div>
            <% } %>
          </div>
        <% } %>
      </div>  
      <div class="userControls">      
        <h6 class="playerPing"></h6>

      <%if(gameSession.status=="waiting for players"){%>
          <button onclick="exitSession('<%=gameSession._id%>')" style="background-color: red;" class="controlButton">Exit Game</button>
          <button  id="readyButton" style="background-color: blue;" class="controlButton"session-data="<%=gameSession._id%>">Ready to Play</button>
       
          <div class="currentUserInfo">
          </div>
        <%}%>
        <%if(gameSession.status=="waiting for players" && gameSession.players.length<gameSettingsData.minPlayers){%>
            
            <div class="currentUserInfo">
              </div>
              
              <%}%>
              <%if(gameSession.status==="game in session"){%>
                  <button class="controlButton">Draw Tile</button>
                  <button class="controlButton">Play Tile</button>
                  <button class="controlButton">Pass Turn</button>        
                  <div class="currentUserInfo">
                    </div>
                    <%}%>
                    </div>
    </div>
  <% } %>
  
