<div id="gameContainer"></div>
<div id="launcher"><%if(typeof game =='object'&& game){%>
    <h6 style="color:red" class="myPing"></h6>
<div class="gamesInSession">
    Join a Game
    <%sessions.forEach(session=>{%>
        <%if(session.status =="playing"){%>
            
            <%}%>
        <div class="message">
<button class="joinGameButton" game="<%=session.game%>" action-game="joinSession" data-game-id="<%=session._id%>">join <%=session.gameName%> #<%=session._id.toString().slice(0,5)%></button>
<% if (session.players && session.players.includes(user._id)) { %>
    <span style="color: green;">● You are registered here</span>
    <p>status: <%=session.status%></p>
    <% }else {%>
        <p>status: <%=session.status%></p>
        <%}%>
    <h4>No of Players: <%=session.players.length%> </h4>
  </div>    
<%})%>
</div>
    <%game.forEach(game =>{%>
        <h3>Start a new game</h3>
    <button class="joinGameButton"game="<%=game.name%>" action-game="games/join" data-game-id="<%=game._id%>"><h2> Create <%=game.name%> Session </h2></button>
   <%})%>
    <%}%>
</div>
