<div id="matchmaking"></div>
<div id="liveInfoDiv"></div>
<!--/views/layouts/games/launcher.ejs-->
<div id="launcher">
    <h1>Welcome to the Game Launcher</h1>
    <div id="playerListLauncher"></div> <!-- Player list in the launcher -->
    <div id="gameSelection">
        <%if(!inGame){%>
        <h2>Select a Game to Play</h2>
        <ul>
            <%if(typeof gameRooms == 'object' && gameRooms){%>
                <%gameRooms.forEach(gameRoom =>{%>
                    <li><a href="#" class="gameSelection" data-game="<%=gameRoom._id%>"><%=gameRoom.name%></a></li>
                    <%})%>
                    <%}%>
                    
                </ul>
                <%}else{%>
You are enrolled in a game:
<%=inGame.gameType%> room #<%=inGame.gameNo%>
<button class="gameManagers" button-url="games/gameSessions/join/<%=inGame.id%>">join party</button>
<button class="gameManagers" button-url="games/gameSessions/exit/<%=inGame.id%>">exit party</button>
                    <%}%>
            </div>


            <%if(typeof gameSessions == 'object'&& gameSessions){%>
                <h3>Active Game Rooms</h3>
                <table id="activeGameRooms">
                    <thead>
                        <th>Game Type</th>
                        <th>Game Staus</th>
                    </thead>
                    <tbody>
                        <%gameSessions.forEach((gameSession, index) =>{%>
                            <tr>
                                <td> <%=gameSession.gameName%> Room #<%=index +1%></td>
                                <td> <%=gameSession.status%></td>
                            </tr>
                            <%})%>
                        </tbody>
                    </table>
                    <%}else{%>
                        There are no Active Games. 
                    <%}%>
                    
                    
                </div>
                
                