<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=config.title%></title>
  
</head>
<body>      
  
  <!--ALL FIXED PARTIALS OUTSIDE THE MAIN DIV-->
  <div id="flashErrors"><%- include('./partials/flashErrors',{message:message})%></div>  
  
  <d
  
  
  iv id="main">
<!--includeLIGHT BOXES HERE-->
  <div class="client_camera">
    <video  id="myVideo" autoplay></video>
  </div>
    <%if(typeof webappSettings === 'object'&& webappSettings){%>
    <div id="mainBanner" style="background-image: url(<%=webappSettings[0].mainBannerDesktop%>);" class="banner">
      <%}%>
      <div id="bannerControls">
        <% if (typeof user === 'object' && user) { %>
          <button id="dashToggle"></button>
          <button id="chatToggle"></button>
          <% } else { %>
            <%if(typeof webappSettings === 'object'&& webappSettings){%>
              <button style="background-image: url('<%=webappSettings[0].signInIcon%>');" id="dashToggle"></button>
              <%}%>
        <% } %>
      </div>
 
    </div>

    <% if (typeof user === 'object' && user) { %>
      <%- include('./authTrueTemplates/template') %>
    <% } else { %>
      <%- include('./authFalseTemplates/template') %>
    <% } %>
  </div>    

  <% if (typeof user === 'object' && user) { %>
    <%- include('./chat/basicChat', {user: user}) %>
    <%- include('./userDash/userDash', {user: user}) %>
  <% } else { %>
    <%- include('./chat/basicChat', {user: ""}) %>
    <%- include('./userDash/userDash', {user: ""}) %>
  <% } %>
  <div id="footer"><%- include('./partials/footer') %></div>      

  <script>
    window.addEventListener('scroll', function() {
      var banner = document.getElementById('mainBanner');
      var bannerControls = document.getElementById('bannerControls');
      var bannerHeight = banner.offsetHeight;
      
      if (window.pageYOffset > bannerHeight) {
        banner.classList.add('sticky');
        banner.classList.add('shrunk');
      } else {
        banner.classList.remove('sticky');
        banner.classList.remove('shrunk');
      }
    });

 

    function playVideo(url) {
      var videoPlayer = document.getElementById('videoPlayer');
      videoPlayer.src = url;
      videoPlayer.play();
    }
  </script>
  <%-include('./scripts/index.ejs')%>
  <script src="/javascripts/loader.js"></script>
</body>
<%if(typeof webappSettings === 'object'&& webappSettings){%>
<style>
  @font-face {
    font-family: 'backslash';
    src: url('/fonts/backslash.otf');
  }
  :root h1 {
    font-family: <%= webappSettings[0].mainFont %>;
    color: <%= webappSettings[0].mainFontColor %>
  }
  #dashToggle {
    background-image: url(<%=webappSettings[0].dashboardIcon%>);
  }
  #chatToggle {
    background-image: url(<%=webappSettings[0].chatIcon%>);
  }
</style>
  <%}%>
</html>
