<% notifications.forEach(function(notification) { %>
  <% if (!notification.notification) { %>
    <p>Error: Notification data is missing for this entry.</p>
  <% } else { %>
    <div class="notification">
      <h3><%= notification.notification.title %></h3>
      <p><%= notification.notification.subtitle %></p>
      <p><%= notification.notification.content %></p>

      <!-- Optional: Display links if they exist -->
      <% if (notification.notification.links.length) { %>
        <ul>
          <% notification.notification.links.forEach(function(link) { %>
            <li><a href="<%= link %>"><%= link %></a></li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  <% } %>
<% }) %>
