<% notifications.forEach(function(notification) { %>
  <% if (notification.notification) { %> 
    <img class="usersOnline" src='<%= notification.notification.backgroundImg%>'>
      <img class="usersOnline" src="<%= notification.notification.iconImage || '/images/LogoTransp.png' %>" alt="Notification Icon" />
      
      <h3><%= notification.notification.title %></h3>
      <p><%= notification.notification.subtitle %></p>
      <p><%- notification.notification.content %></p>

      <!-- Check if links exist and if they are an array -->
      <% if (Array.isArray(notification.notification.links) && notification.notification.links.length > 0) { %>
        <ul>
          <% notification.notification.links.forEach(function(link) { %>
            <li><a href="<%= link %>"><%= link %></a></li>
          <% }) %>
        </ul>
      <% } else { %>
        <p>No links available</p>
      <% } %>
    </div>
  <% } else { %>
    <p>Notification data is missing</p>
  <% } %>
<% }) %>
<div class="spacer_50"></div>
