

<% if (typeof sectionSettings === 'object' && sectionSettings && sectionSettings.length > 0) { %>
  <% sectionSettings.forEach(function(setting) { %>
    <% if (setting.visible && setting.authView) { %>
      <div class="auth_view_true" style="background-image: url('<%= setting.backgroundImg %>');">
        <div class="index-container">
        <% if (setting.title) { %>
  <h1><%= setting.title %></h1>
<% } %>

<% if (setting.subtitle) { %>
  <h1><%= setting.subtitle %></h1>
<% } %>

<% if (setting.description) { %>
  <p><%= setting.description %></p>
<% } %>

          <% if (Array.isArray(setting.links)) { %>
            <div class="linkTable"><br>

            <% setting.links.forEach(function(link) { %>
              <a href="<%= link %>"  target="_blank" rel="noopener noreferrer"><%= link %></a>
              <br>
            <% }); %>
          </div>
          <% } %>
          <br>
          <button style="background-image: url('<%= setting.entryBackground %>');" class="collapsible"><%= setting.entryText %><span class="carrot">||</span></button>
          <div class="content" data-url="<%= setting.entryUrl %>"></div>
        </div>
      </div>
    <% } %>
  <% }); %>
<% } %>

<div class="auth_view_true" style="background-image: url('./images/hugeIcon.png');">
  <div class="index-container">
    <h1>The Parlor</h1>
    <div><p>Set up your parlor space below.</p></div>

    <div class="container-scrollbox-x">
      <%- include('../videoChannels/userStream') %>
      <%- include('../videoChannels/channel_1') %>
    </div>
    <div class="marquee">
      <span id="marquee-text"></span>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.auth_view_true').forEach(div => {
      div.addEventListener('click', function () {
        if (!this.classList.contains('expanded')) {
          this.classList.add('expanded');
          let closeButton = this.querySelector('.close-button');
          if (!closeButton) {
            closeButton = document.createElement('button');
            closeButton.className = 'close-button';
            closeButton.innerHTML = 'X';
            this.appendChild(closeButton);
          }
          closeButton.style.display = 'block'; // Ensure the close button is visible

          closeButton.addEventListener('click', function (e) {
            e.stopPropagation(); // Prevent click from propagating to the div
            this.parentNode.classList.remove('expanded');
            this.style.display = 'none'; // Hide button after collapsing
          });
        }
      });
    });
  });
</script>

<script src="/socket.io/socket.io.js"></script>
<script>
  window.onload = () => {
    const scrollContainerX = document.querySelector('.container-scrollbox-x');
    if (scrollContainerX) {
      scrollContainerX.scrollLeft = (scrollContainerX.scrollWidth - scrollContainerX.clientWidth) / 2;
    }
  };
</script>
