<div class="adminWindow">
  <div class="adminStatsRow">
    <% documents.forEach(item => { %>
      <div class="adminStat">
        <p><%= item.name %></p>
        <img alt="Item image" src="<%= item.backgroundImg %>">
        <img alt="Item image" src="<%= item.mediumIcon %>">
        <button class="collapsible">view: <span class="carrot">&#9654;</span></button>
        <div class="content" data-url="/items/renderEditForm/<%= item._id %>"></div>
        
        <form action="/items/<%= item._id %>/upload-images" method="post" enctype="multipart/form-data">
          <input type="file" name="images" multiple>
          <button type="submit">Upload</button>
        </form>
      </div>
    <% }) %>
  </div>
</div>
