
<div class="adminWindow">
    

<div class="adminStatsRow">
<%if(typeof webappSettings ==='object'&& webappSettings){%>
 
 <div class="adminStat"> <p>"mainBannerDesktop" </p> <img alt="Add image to webapp." src="<%= webappSettings[0].mainBannerDesktop%>"></div>
 <div class="adminStat"> <p>mainBannerCell</p>  <img alt="Add image to webapp." src="<%= webappSettings[0].mainBannerCell%>"></div>
 <div class="adminStat"> <p>mainLogo</p>   <img alt="Add image to webapp." src="<%= webappSettings[0].mainLogo%>"></div>
 <div class="adminStat">  <p>thubnailLogo</p>  <img alt="Add image to webapp." src="<%= webappSettings[0].thumbnailLogo%>"></div>
 <div class="adminStat">   <p>signInIcon</p> <img alt="Add image to webapp." src="<%= webappSettings[0].signInIcon%>"></div>
 <div class="adminStat">   <p>dashboardIcon</p> <img alt="Add image to webapp." src="<%= webappSettings[0].dashboardIcon%>"></div>
 <div class="adminStat">   <p>chatIcon</p> <img alt="Add image to webapp." src="<%= webappSettings[0].chatIcon%>"></div>
      <%}%>
</div>








    
</div>
<div class="main"></div>
    <button class="collapsible">Add Sections<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/sectionSettings/loadSectionsForm"></div>
    <button class="collapsible">Update Settings<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/webappSettings/loadSettingsForm"></div>