
   <!--GET IMAGES  data-url="/media/getDirectories LINODE BUCKET REMOVED-->
   <!--GET VIDEO data-url="/media/videos" LINODE BUCKET REMOVED-->
   
    <div id="videoGrid"></div>
    <button class="collapsible">Get Sections<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/sectionSettings/all"></div>
    <button class="collapsible">Add Sections<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/sectionSettings/renderAddForm"></div>
    
    <button class="collapsible">Update Settings<span class="carrot">&#9654;</span></button>
    <div class="content" data-url="/webappSettings/renderEditForm/668ae7d245fe0f9cb72bf44f"></div>
  <!--GET / ADD GEMS MOVED TO EXCHANGE MENU-->
  
  
  <button class="collapsible">Footers Admin<span class="carrot">&#9654;</span></button>
  <div class="content"><%- include('../footers/index') %></div>
  
  <button class="collapsible">Marquees Admin<span class="carrot">&#9654;</span></button>
  <div class="content"><%- include('../marquees/index') %></div>
  

  <button class="collapsible">Chat Rooms<span class="carrot">&#9654;</span></button>
  <div class="content" ><%-include ("../chats/index")%></div>


  <button class="collapsible">Exchange Admin<span class="carrot">&#9654;</span></button>
  <div class="content"><%- include('../exchanges/index')%></div>

  
  <button class="collapsible"><strong>Experimental:</strong> Games<span class="carrot">&#9654;</span></button>
  <div class="content" ><%-include("../games/games")%></div>
