<%if(typeof user.images === 'object' && user.images){%>
  <h2>Avatar Settings</h2>
  <%for (let i = 0; i < user.images.length; i++){%>
    <div class="imageThumbs">
      <div class="thumb">
        <img class="usersOnline" style="transform: scale(150%);" src="<%=user.images[i].thumbnailUrl%>" alt="">
        <%if(user.images[i].avatarTag){%>
          &#x1F464; assigned avatar
        <%}else{%>
          <input type="radio" name="avatar" data-avatar-url="<%=user.images[i].thumbnailUrl%>" onclick="assignAvatar(this)" id="makeAvatar_user_<%= i %>" /> make avatar
        <%}%>
        <%if(i>0){%>
        <a href="#" class="deleteAvatar" data-avatar-url="<%=user.images[i].thumbnailUrl%>">&#x274C; delete avatar</a>
     <%}%>
      </div> 
    </div>
  <%}%>
<%}%>

<div class="userSetting" id="avatarUpload">
  <%-include('../../forms/user/avatarUpload',{user:user})%>
</div>

<script>
  document.querySelectorAll('.deleteAvatar').forEach(link => {
    link.addEventListener('click', function(event) {
      event.preventDefault();
      var avatarUrl = this.getAttribute('data-avatar-url');
      fetch('/deleteAvatar', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ avatarUrl: avatarUrl }),
      })
      .then(response => response.json())
      .then(data => {
        console.log('Avatar deleted successfully:', data);
        // Optionally, remove the image thumbnail from the DOM
        this.closest('.thumb').remove();
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    });
  });

  function assignAvatar(element) {
    var avatarUrl = element.getAttribute('data-avatar-url');
    fetch('/assignAvatar', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ avatarUrl: avatarUrl }),
    })
    .then(response => response.json())
    .then(data => {
      console.log('Success:', data);
      document.querySelectorAll('.imageThumbs .thumb').forEach(thumb => {
        const assignedAvatarIcon = thumb.querySelector('.assigned-avatar-icon');
        if (assignedAvatarIcon) assignedAvatarIcon.remove();
        thumb.querySelector('input[type="radio"]').checked = false;
      });
      element.checked = true;
      const parentThumb = element.closest('.thumb');
      parentThumb.innerHTML += '<span class="assigned-avatar-icon">&#x1F464; assigned avatar</span>';
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  }
</script>
