
<!--HERAT ANIMATION WAS INCLUDED HERE-->
<% if (typeof sectionSettings === 'object' && sectionSettings && sectionSettings.length > 0) { %>
  <% let iterationCount = 0; %> <!-- Initialize a counter outside the loop -->

  <% sectionSettings.forEach(function(setting) { %>
    <% if (setting.visible && setting.nonAuthView) { %>
      <div class="<%=setting.style%>" style="background-image: url('<%= setting.backgroundImg %>');" data-order="<%= setting.order %>">
        <div class="collectionId" hidden collection-id="<%=setting._id%>"></div>
        <div class="modelInfo" hidden model-info="<%=setting.mane%>"></div>
        <div class="<%=setting.innerStyle%>">
          <% if (setting.title || setting.title !== "") { %>
            <h1><%= setting.title %></h1>
          <% }else{ %> <div class="spacer_50"></div>
           <%}%>
          <% if (setting.subtitle) { %>
            <h1><%= setting.subtitle %></h1>
          <% } %>

          <% if (setting.description) { %>
            <p><%= setting.description %></p>
          <% } %>

          <% if (Array.isArray(setting.links) && setting.links[0] !== "") { %>
            <div class="<%=setting.linkStyle%>"><br>
              <% setting.links.forEach(function(link) { %>
                <a href="<%= link %>" target="_blank" rel="noopener noreferrer"><%= link %></a>
                <br>
              <% }); %>
            </div>
          <% } %>
          <br>
          <% if (setting.entryText !== "" && setting.entryText !== "") { %>
            <button class="<%=setting.buttonStyle%>"><%= setting.entryText %><span class="carrot">&#9654</span></button>
            <div class="<%=setting.buttonDivStyle%>" data-url="<%= setting.entryUrl %>"></div>
          <% } %>
        </div>
      </div>
      
      <% iterationCount++; %> <!-- Increment the counter after each iteration -->

      <!-- Insert the marquee div only after the second iteration -->
      <% if (iterationCount === 2) { %>
      <% } %>
    <% } %>
  <% }); %>
<% } %>

<!---ADMINVIEW-->
<!---ADMINVIEW-->
<!---ADMINVIEW-->
<!---ADMINVIEW-->

<!---ADMINVIEW-->
<!---ADMINVIEW-->
<!---ADMINVIEW-->



<script>
  window.onload = () => {
    const scrollContainerX = document.querySelector('.container-scrollbox-x');
    if (scrollContainerX) {
      scrollContainerX.scrollLeft = (scrollContainerX.scrollWidth - scrollContainerX.clientWidth) / 2;
    }
  };
</script>
