
<div class="index-container">
  <div class="container-scrollbox-x">
    <div class="index-card active">
      <div class="client_window">
        <button class="videoControls start" onclick="startCamera()">Start Camera</button>
        <button class="videoControls stop" onclick="stopCamera()">Stop Camera</button>
        <button class="go-back" onclick="showPreviousCard()">Go Back</button>
      </div>
    </div>
    <div class="index-card">
      <div class="p2pRoomsList">
        <h3>Join a Parlor Room:</h3>
        <% if (typeof rooms == 'object' && rooms) { %>
          <% rooms.forEach(room => { %>
            <div>
              <button class="videoControls" button-data="<%= room._id %>" onclick="joinRoom('<%= room._id %>')"><h4> <%= room.name || room._id %></h4></button>
              <% if (user.isAdmin) { %>
                <button class="videoControls stop" button-data="<%= room._id %>" onclick="deleteRoom('<%= room._id %>')">Delete</button>
              <% } %>
            </div>
          <% }) %>
        <% } %>
        <button class="go-back" onclick="showPreviousCard()">Go Back</button>
      </div>
    </div>
    <div class="index-card">
      <div class="peers"></div>
      <div class="P2Pcontrols"></div>
      <button class="go-back" onclick="showPreviousCard()">Go Back</button>
    </div>
  </div>
</div>


