<h1><%= title %></h1>
<form action="<%= action %>" method="POST" enctype="multipart/form-data">

  <!-- Render standard form fields -->
  <% formFields.forEach(field => { %>
    <% if (typeof field.value !== 'object' || Array.isArray(field.value)) { %>
      <div>
        <label for="<%= field.name %>"><%= field.label %>:</label>
        <% if (field.type === 'textarea') { %>
          <textarea name="<%= field.name %>" id="<%= field.name %>"><%= field.value %></textarea>
        <% } else if (field.type === 'file') { %>
          <input type="file" name="<%= field.name %>" id="<%= field.name %>">
        <% } else if (field.type === 'dropdown') { %>
          <select name="<%= field.name %>" id="<%= field.name %>">
            <% field.options.forEach(option => { %>
              <option value="<%= option %>" <%= field.value === option ? 'selected' : '' %>><%= option %></option>
            <% }) %>
          </select>
        <% } else if (field.type === 'radio') { %>
          <% field.options.forEach(option => { %>
            <input type="radio" name="<%= field.name %>" id="<%= field.name %>-<%= option %>" value="<%= option %>">
            <label for="<%= field.name %>-<%= option %>"><%= option %></label>
          <% }) %>
        <% } else if (field.type === 'boolean') { %>
          <!-- Dropdown for boolean type -->
          <select name="<%= field.name %>" id="<%= field.name %>">
            <option value="true" <%= field.value === true ? 'selected' : '' %>>True</option>
            <option value="false" <%= field.value === false ? 'selected' : '' %>>False</option>
          </select>
        <% } else if (field.type === 'array' && Array.isArray(field.value)) { %>
          <div id="<%= field.name %>-container">
            <% field.value.forEach((item, index) => { %>
              <div class="array-item" id="<%= field.name %>-<%= index %>">
                <input type="text" name="<%= field.name %>[]" id="<%= field.name %>-<%= index %>" value="<%= item %>">
                <button type="button" onclick="removeField('<%= field.name %>-<%= index %>', '<%=routeSub%>', '<%= data ? data._id : '' %>', '<%= index %>')">Remove</button>
              </div>
            <% }); %>
          </div>
          <button type="button" onclick="addField('<%= field.name %>')">Add more</button>
        <% } else if (field.type === 'object') { %>
          <% for (const key in field.value) { %>
            <% if (typeof field.value[key] !== 'object') { %>
              <label for="<%= field.name %>_<%= key %>"><%= key %>:</label>
              <input type="text" name="<%= field.name %>[<%= key %>]" id="<%= field.name %>_<%= key %>" value="<%= field.value[key] %>">
            <% } %>
          <% } %>
        <% } else { %>
          <input type="<%= field.type %>" name="<%= field.name %>" id="<%= field.name %>" value="<%= field.value %>">
        <% } %>
      </div>
    <% } %>
  <% }) %>

  <% if (typeof permissionsFields == 'object' && permissionsFields) { %>
  <!-- Render permissions fields separately -->
  <h2>Permissions</h2>
  <% permissionsFields.forEach(field => { %>
    <div>
      <label for="<%= field.name %>"><%= field.label %>:</label>
      <input type="radio" name="<%= field.name %>" id="<%= field.name %>-true" value="true" <%= field.value === true ? 'checked' : '' %>> True
      <input type="radio" name="<%= field.name %>" id="<%= field.name %>-false" value="false" <%= field.value === false ? 'checked' : '' %>> False
    </div>
  <% }) %>
  <% } %>

  <button type="submit">Save</button>
</form>

