<div class="login_form_basic fontColor_brand bg_color_brand">
<h3><%= title %></h3>
<form action="<%= action %>" method="POST" enctype="multipart/form-data">

  <!-- Iterate over standard form fields -->
  <% formFields.forEach(field => { %>
    <div>
      <label for="<%= field.name %>"><%= field.label %>:</label>

      <% if (field.type === 'textarea') { %>
        <textarea name="<%= field.name %>" id="<%= field.name %>"><%= field.value %></textarea>

      <% } else if (field.type === 'file') { %>
        <% if (field.value) { %>
          <div>
            <img src="<%= field.value %>" alt="<%= field.label %>" class="thumbnail">
            <button type="button" onclick="clearImage('<%= field.name %>')">Clear</button>
          </div>
        <% } %>
        <input type="file" name="<%= field.name %>" id="<%= field.name %>">

        <% } else if (field.type === 'select' || field.type === 'custom') { %>
          <!-- Custom select for custom fields and boolean dropdowns -->
          <div id="<%= field.name %>-container">
            <% (Array.isArray(field.value) ? field.value : [field.value]).forEach((item, index) => { %>
              <div id="<%= field.name %>-<%= index %>">
                <select name="<%= field.name %>[]">
                  <% field.options.forEach(option => { %>
                    <option value="<%= option.value %>" <%= String(item) === String(option.value) ? 'selected' : '' %>>
                      <%= option.label %>
                    </option>
                  <% }) %>
                </select>
                <button type="button" onclick="removeField('<%= field.name %>-<%= index %>')">Remove</button>
              </div>
            <% }) %>
          </div>
          <button type="button" onclick="addField('<%= field.name %>', <%= JSON.stringify(field.options) %>)">Add more</button>
        <% } else if (field.type === 'radio') { %>
        <% field.options.forEach(option => { %>
          <input type="radio" name="<%= field.name %>" id="<%= field.name %>-<%= option.value %>" value="<%= option.value %>" <%= field.value === option.value ? 'checked' : '' %>>
          <label for="<%= field.name %>-<%= option.value %>"><%= option.label %></label>
        <% }) %>

      <% } else if (field.type === 'array') { %>
        <div id="<%= field.name %>-container">
          <% field.value.forEach((item, index) => { %>
            <div class="array-item" id="<%= field.name %>-<%= index %>">
              <input type="text" name="<%= field.name %>[]"
                     id="<%= field.name %>-<%= index %>"
                     value="<%= item %>">
              <button type="button" onclick="removeField('<%= field.name %>-<%= index %>')">Remove</button>
            </div>
          <% }) %>
        </div>
        <button type="button" onclick="addField('<%= field.name %>')">Add more</button>

      <% } else if (field.type === 'boolean') { %>
        <select name="<%= field.name %>" id="<%= field.name %>">
          <option value="true" <%= field.value === 'true' ? 'selected' : '' %>>True</option>
          <option value="false" <%= field.value === 'false' ? 'selected' : '' %>>False</option>
        </select>

      <% } else { %>
        <input type="<%= field.type %>" name="<%= field.name %>" id="<%= field.name %>" value="<%= field.value %>">
      <% } %>
    </div>
  <% }) %>

  <% if (typeof permissionsFields == 'object' && permissionsFields) { %>
    <!-- Render permissions fields separately -->
    <h2>Permissions</h2>
    <% permissionsFields.forEach(field => { %>
      <div>
        <label for="<%= field.name %>"><%= field.label %>:</label>
        <input type="radio" name="<%= field.name %>" id="<%= field.name %>-true" value="true" <%= field.value === true ? 'checked' : '' %>> True
        <input type="radio" name="<%= field.name %>" id="<%= field.name %>-false" value="false" <%= field.value === false ? 'checked' : '' %>> False
      </div>
    <% }) %>
  <% } %>
  
  <button type="submit">Save</button>
</form>

<!-- Delete button -->
<form action="/<%= routeSub %>/delete/<%= data._id %>" method="POST" style="margin-top: 20px;">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" style="background-color: red; color: white;">Delete</button>
</form>

<!-- Optional embedded script -->
<% if (typeof script == 'object' && script) { %>
  <%- script %>
<% } %>

</div>